# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual Env
.venv/
env/
venv/

# Environment variables
.env

# Streamlit
.streamlit/

# LangGraph / DB
*.db

# OSgit add .gitignore
.DS_Store
Thumbs.db